header{
    text-align: center;
}

.profile-avatar{
    margin-right: 10%;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-info{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
}

.user-links > a:not(:last-child){
    display: inline-block;
    margin-right: 10px;
}

.user-info{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 25px;
}

.user-info__top{
    display: flex;
    justify-content: space-between;
}

.user-description{
    width: 80%;
}

.description{
    height: 116px;
    overflow-y: hidden;
}

.user-project__wrapper{
    width: 80vw;
    margin: 0 auto;
}

.user-project{
    display: flex;
    flex-direction: column;  
    margin-top: 50px;
    align-items: center;
}

.interact-project{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.profile-list{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.list-project{
    display: flex;
    margin-top: 50px;
    margin-bottom: 25px;
    justify-content: space-between;
    width: 70vw;
    overflow-x: scroll;
    gap: 90px;
}

.list-project::-webkit-scrollbar{
    display: none;
}

.list-project__wrapper{
    display: none;
    flex-direction: column;
}

.list__wrapper{
    display: flex;
    flex-direction: row;
}

.project{
    display: flex;
    flex-direction: column;
}

.project > h2{
    text-align: center;
    margin-bottom: 20px;
}

.project__img > img{
    width: 20vw;
}

.interaction-project > a:not(:last-child){
    display: flex;
    display: inline-block;
    margin-right: 10vw;
}

.interaction-project > a:last-child{
    margin-right: 3vw;
}

.interaction-project > p{
    display: inline-block;
    margin-right: 10vw;
}

.interaction-project > p:last-child{
    margin-right: 3vw;
}

.sumbit-btn{
    text-align: center;
    width: 25vw;
    margin: 0 auto;
}

.liked-progect_button{
    margin-top: 35px;
}