@font-face {
    font-family: "Rubik";
    src: url(../assets/font/Rubik.ttf);
}

@font-face {
    font-family: "DM-sans";
    src: url(../assets/font/DMSans-Bold.ttf);
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}

h2{
    font-size: 24px;
    margin: 0;
}

button{
    outline: none;
    border: 0;
    padding: 0px;
    background: transparent;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

body{
    color: black;
    font-size: 16px;
    padding: 1% 2% 1% 2%;
    margin: 0;
    font-family: "Rubik", "Arial";
}

.user__text_DM-sans{
    font-family: "DM-sans"; /* Не работает с руссиан лангуаге */
    font-weight: bold;
    color: #777E90;
}


.standart-text_grey{
    font-family: "Rubik", "Arial";
    font-size: 16px;
    color: grey;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
}

.logo{
    width: 150px;
}
