{% extends 'index.html' %}

{% block title %}Urfolio – Регистрация{% endblock %}

{% block content %}
        <div class="login__wrapper">
            <h1>Добро пожаловать!</h1>
            <form class="login" action="" method="post">
                <label for="email">Имя пользователя</label>
                <input type="text" placeholder="Введите имя пользователя" id="email" name="new_user_name">

                <label for="email">E-mail</label>
                <input type="email" placeholder="Введите ваш email" id="email" name="user_email">

                <label for="password">Пароль</label>
                <input type="password" placeholder="Введите пароль" id="password" name="user_password">
                <span class="password-similar" id="similar"></span>
                <input type="password" placeholder="Повторите пароль" id="password_repeat" name="user_password_repeat">
                <button type="submit" id="sumbit" class="sumbit-btn sumbit-text">Войти</button>
            </form>
        </div>
    </main>
{% endblock %}
