<footer>
  <!-- НС -->
  <div class="feed-pages">
      <a href=""><span class="feed-movement standart-text_light-grey">В начало</span></a>
      <span class="numbers-pages">
          <a href="#"><span class="standart-text_light-grey">1</span></a>
          <a href="#"><span class="standart-text_light-grey">2</span></a>
          <a href="#"><span class="standart-text_light-grey">3</span></a>
      </span>
      <a href=""><span class="feed-movement standart-text_light-grey">В конец</span></a>
  </div>
  <!-- НК -->
</footer>