{% extends 'base.html' %}

{% block title %}Urfolio – Главная{% endblock %}

{% block content %}

<div class="main__wrapper">
  <div class="feed-setting">
      <div class="feed-setting__sorting">
          <h2>Сортировка</h2>
          <hr>
          <ul>
              <li class="setting__item">
                  <button type="button" class="button_style-none" id="sorting-type">
                      <svg id="sort-type_time" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="17" y1="1.5" x2="2" y2="1.5" stroke="#95A1BB"/>
                          <line x1="17" y1="5.5" x2="2" y2="5.5" stroke="#95A1BB"/>
                          <line x1="17" y1="9.5" x2="2" y2="9.5" stroke="#95A1BB"/>
                      </svg>
                      <span class="standart-text_light-grey">по времени</span>
                  </button>
              </li>
              <li class="setting__item">
                  <button type="button" id="sorting-type">
                      <svg id="sort-type_rating" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="17" y1="1.5" x2="2" y2="1.5" stroke="#95A1BB"/>
                          <line x1="17" y1="5.5" x2="2" y2="5.5" stroke="#95A1BB"/>
                          <line x1="17" y1="9.5" x2="2" y2="9.5" stroke="#95A1BB"/>
                      </svg>
                      <span class="standart-text_light-grey">по рейтингу</span>
                  </button>
              </li>
              <li class="setting__item">
                  <button type="button" class="button_style-none" id="sorting-type">
                      <svg id="sort-type_title" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="17" y1="1.5" x2="2" y2="1.5" stroke="#95A1BB"/>
                          <line x1="17" y1="5.5" x2="2" y2="5.5" stroke="#95A1BB"/>
                          <line x1="17" y1="9.5" x2="2" y2="9.5" stroke="#95A1BB"/>
                      </svg>
                      <span class="standart-text_light-grey">по названию</span>
                  </button>
              </li>
          </ul>
      </div>
      <div class="feed-setting__filter">
          <h2>Фильтры</h2>
          <hr>
          <ul>
              <li class="setting__item">
                  <button type="button" class="button_style-none" id="filter-type">
                      <svg class="close-filter__type" id="svg_project" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                          <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                      </svg>
                      <span class="standart-text_light-grey">тип проекта</span>
                  </button>
                  <div class="filter-type__item" id="type_item">
                      <div class="filter-type__wrapper">
                          <input type="checkbox" name="type" id="filter_novella">
                          <label for="filter_novella" class="standart-text_light-grey">новелла</label>
                      </div>
                      <div class="filter-type__wrapper">
                          <input type="checkbox" name="type" id="filter_site">
                          <label for="filter_site" class="standart-text_light-grey">сайт</label>
                      </div>
                  </div>
              </li>
              <li class="setting__item">
                  <button type="button" class="button_style-none" id="filter-type">
                      <svg class="close-filter__year" id="svg_year" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                          <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                      </svg>
                      <span class="standart-text_light-grey">учебный год</span>
                  </button>
                  <div class="filter-type__item" id="type_item">
                      <div class="filter-type__wrapper">
                          <input type="checkbox" name="type" id="filterYear_22">
                          <label for="filterYear_22" class="standart-text_light-grey">2022-2023</label>
                      </div>
                      <div class="filter-type__wrapper">
                          <input type="checkbox" name="type" id="filterYear_23">
                          <label for="filterYear_23" class="standart-text_light-grey">2023-2024</label>
                      </div>
                  </div>
              </li>
              <li class="setting__item">
                  <button type="button" class="button_style-none" id="filter-type">
                      <svg class="close-filter__course" id="svg_course" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                          <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                      </svg>
                      <span class="standart-text_light-grey">номер курса</span>
                  </button>
                  <div class="filter-type__item" id="type_item">
                      <div class="filter-type__wrapper">
                          <input type="checkbox" name="type" id="filter_course1">
                          <label for="filter_course1" class="standart-text_light-grey">1 курс</label>
                      </div>
                      <div class="filter-type__wrapper">
                          <input type="checkbox" name="type" id="filter_course2">
                          <label for="filter_course2" class="standart-text_light-grey">2 курс</label>
                      </div>
                  </div>
              </li>
              <li class="setting__item">
                  <button type="button" class="button_style-none" id="filter-type">
                      <svg class="close-filter__author" id="svg_author" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <line x1="8" x2="8" y2="16" stroke="#95A1BB" stroke-width="2"/>
                          <line y1="8" x2="16" y2="8" stroke="#95A1BB" stroke-width="2"/>
                      </svg>
                      <span class="standart-text_light-grey">автор</span>
                  </button>
                  <div class="filter-type__item" id="type_item">
                      <div class="filter-type__wrapper">
                          <input type="text" name="author" id="nameAuthor">
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <button type="button" id="sendFilter" class="send-filter standart-text_grey"><h3>Применить</h3></button>
  </div>
  <div class="project__feed">
    {% for item in portfolio_items %}
      {% include 'feedItem.html' with context%}
    {% endfor %}
  </div>
</div>

{% endblock %}